<div class="shadow overflow-hidden border-b border-gray-100 h-full w-full rounded-lg bg-white">
  <div class="overflow-x-auto h-full w-full">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50 border-solid border-b">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" scope="col">
          Metadata
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" scope="col">
          Dữ liệu
        </th>
      </tr>
      </thead>
      <tbody class="bg-white">
      <ng-container *ngFor="let prop of serviceStore.propsShow$ | async">
        <tr class="border-b-2 border-gray-100 border-solid">
          <td class="px-4 py-3 whitespace-nowrap ">
            <div class="text-sm text-gray-900">{{getHeaderTitle(prop.note)}}</div>
          </td>
          <td class="px-4 py-1 w-full">
            <mat-form-field class="w-full">
              <textarea matInput cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="10" [(ngModel)]="ocrFile.ocr[prop.name]"
                        class="text-sm text-gray-500 border-none w-full resize-none outline-none rounded outline-orange-400">
              </textarea>
            </mat-form-field>
          </td>
        </tr>
      </ng-container>
      <tr class="border-b-2 border-gray-100 border-solid"></tr>
      </tbody>
    </table>
  </div>
</div>


