<div class="modal-title">
  <strong>Thống kê</strong>
  <Button (onClick)="closeModal()">Đóng</Button>
</div>
<mat-dialog-content class="mat-typography adm-modal-body">
  <div class="filter-data">
    <Tag *ngFor="let filter of filterValues" [title]="filter.label" class="mr-2 mb-2">{{filter.value}}</Tag>
  </div>
  <div class="statistic-meta">
    <img src="assets/icons/bx-bar-chart-alt-2.svg" class="mr-4"/>
    <strong>{{title}}</strong>
    <select class="form-control statistic-options" [(ngModel)]="selectedOption" (change)="optionChanged()">
      <option [value]="option" *ngFor="let option of options">{{option}} {{title.toLowerCase()}} nổi bật</option>
    </select>
  </div>
  <div class="chart-container mb-4">
    <chart [type]="barChartConfig.type" [data]="barChartConfig.data" #barChart></chart>
  </div>
  <div class="chart-container">
    <chart [type]="pieChartConfig.type" [data]="pieChartConfig.data" #pieChart></chart>
  </div>
</mat-dialog-content>
