$header-height: 90px;
$navigation-width: 80px;
$sidebar-width: 0px;
$small-navigation-width: 100px;

$body-bg-color-dark-light: #2b3653;

$color-primary: #ff9500;
$color-primary-light: #FFE5BF;
$color-secondary: #a461d8;
$color-danger: red;

$background-primary: #FFFFFF;
$background-navigation: rgba(31, 41, 55, 1);
$background-secondary: #E6F2FF;

$default-border-radius: 8px;

$default-font-size: 14px;

$border-style: 1px solid #ebebeb;
