<ng-container *ngIf="ocrNode">
  <td
    class="ocr-col">
    <span *ngFor="let space of spaces" class="pl-5"></span>
    <span>
        <ng-container *ngIf="!ocrNode.isOpen; else closeFolderSvg">
          <!-- icon right arrow -->
            <svg (click)="clickOpenFolder()" class="relative inline-block text-gray-apple-aqua-700" fill="currentColor"
                 height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z">
              </path>
            </svg>
          <!-- icon folder close-->
           <svg class="relative inline-block text-blue-apple-aqua-300" fill="currentColor" height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg">
          <path
            d="M20 5h-9.586L8.707 3.293A.997.997 0 0 0 8 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2z"
          ></path>
        </svg>
        </ng-container>
        <ng-template #closeFolderSvg>
          <!-- icon down arrow-->
          <svg (click)="clickOpenFolder()" class="relative inline-block text-gray-apple-aqua-600" fill="currentColor"
               height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z">
            </path>
          </svg>
          <svg class="relative inline-block text-blue-apple-aqua-300" fill="currentColor" height="24"
               viewBox="0 0 24 24" width="24"
               xmlns="http://www.w3.org/2000/svg">
          <path
            d="M20 5h-9.586L8.707 3.293A.997.997 0 0 0 8 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2z"
          ></path>
        </svg>
        </ng-template>
      </span>
    {{ ocrNode.name }}
  </td>
  <!-- trạng thái-->
  <td class="ocr-col">
    <!--      <ng-container *ngIf="getStateOCR(folder) != ''">-->
    <!--        <div class="font-bold">-->
    <!--          {{ getStateOCR(folder)}}-->
    <!--        </div>-->
    <!--      </ng-container>-->
    <!--      <ng-container *ngIf="getStateExtract(folder) != ''">-->
    <!--        <div class="font-bold">-->
    <!--          {{ getStateExtract(folder)}}-->
    <!--        </div>-->
    <!--      </ng-container>-->
    <!--      <ng-container *ngIf="getStateNormal(folder) != ''">-->
    <!--        <div class="font-bold">-->
    <!--          {{ getStateNormal(folder)}}-->
    <!--        </div>-->
    <!--      </ng-container>-->
  </td>
  <!-- Kích cỡ tệp-->
  <td class="ocr-col">
      <span class="float-right">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path
          d="M5 11h14v2H5z"></path></svg>
      </span>
  </td>
  <!-- chủ sỡ hữu-->
  <td class="ocr-col">
    <span>{{ocrNode.owner}}</span>
  </td>
  <!-- Ngày tạo -->
  <td class="ocr-col">
    <span>{{ocrNode.addtime | date : 'dd/MM/yyyy'}}</span>
  </td>
  <td [attr.colspan]="(serviceStore.propsShow$ | async)?.length">
  </td>
</ng-container>
