<ng-container *ngIf="(auth.user$ | async) as user">
  <div
    class="w-[340px] bg-gray-50 border-[1px] rounded-lg border-solid shadow-2xl border-gray-300 mt-2 drop-shadow-lg">
      <div>    <div class="relative flex flex-col items-center p-[20px]">


      <ng-container>
          <ngx-avatar
            [name]="user.name[user.name.length-1].slice(0, 1)"
            [textSizeRatio]="2.5"
            bgColor="#000"
            initialsSize="2"
            size="64"
            src="assets/images/128/avatar/default.png"
          ></ngx-avatar>
        </ng-container>
      </div>
      <div class=" mt-2 text-center">
        <div class="text-base font-normal">
          {{user?.name}}
        </div>
      </div>
    </div>
    <div class=" border-b-2 border-solid border-gray-200 h-[2px]">
    </div>
    <div class="mt-2 text-center mb-2">
      <button
        (click)="logout()"
        class="
                bg-gray-600
                lg:hover:bg-gray-900
                w-4/5
                py-3
                rounded-3xl
                text-white
                shadow-xl
                lg:hover:shadow-inner`
                focus:outline-none
                transition
                duration-500
                ease-in-out
                transform
                lg:hover:-translate-x lg:hover:scale-105
              "
      >
        {{'LOGIN.DANGXUAT' | translate}}
      </button>
    </div>
  </div>

</ng-container>
