@import "src/globals";

:host {
  @apply block static;

  ::ng-deep {

    .adm-modal-body {
      @apply p-4 m-0;
    }
  }
}

.asterisk {
  color: red !important;
}

.mat-tab-group ::ng-deep {

  .mat-ink-bar {
    background-color: $color-primary !important;
  }
}

iframe {
  height: 500px;
  border: none !important;

  &.hide {
    height: 0 !important;
  }
}

.dropzone-preview {
  @apply flex-col justify-end #{!important};
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: top;
  background-image: url("../../../../assets/icons/gray/bx-file.svg") !important;
}

.dropzone-label {
  @apply w-full;
}
