<div class="row">
  <div class="col-12 page-header">
    <img [src]="isBookmark ? 'assets/icons/primary/bxs-star.svg' : 'assets/icons/primary/bx-search-alt.svg'"/>
    <h1 *ngIf="!isBookmark">Tìm kiếm tài liệu</h1>
    <h1 *ngIf="isBookmark">Tài liệu đánh dấu</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <Card title="Lọc theo tiêu chí" icon="bx-search-alt.svg" *ngIf="leftFilterShow">
      <img class="mr-2 left-toggle" src="assets/icons/bx-chevrons-left.svg" (click)="hideLeftBar()"/>
      <Tree [data]="treeData" (onSelect)="onTreeFilter($event)" (onSearchToggle)="onTreeSearchToggle($event)"></Tree>
      <div class="statistic" *ngIf="enableStatistic">
        <h5 class="card-title mt-4">
          <img class="mr-2" src="assets/icons/bx-search-alt.svg"/>
          Thống kê
        </h5>
        <Button
          type="secondary"
          icon="bx-bar-chart-alt.svg"
          class="w-full py-1"
          *ngFor="let statistic of statisticOptions"
          (onClick)="openStatistic(statistic)"
        >{{statistic.name}}</Button>
      </div>
    </Card>
  </div>
  <div class="col-lg-9 flex flex-col"
       [class.col-lg-12]="!leftFilterShow"
       [class.col-lg-9]="leftFilterShow"
  >
    <Card *ngIf="topFilterShow">
      <img class="mr-2 top-toggle" src="assets/icons/bx-chevrons-left.svg" (click)="hideTopBar()"/>
      <div class="top-filter mr-4 mb-4 inline-block" *ngFor="let meta of topFilter">
        <DateFilter
          [text]="getMetaDataName(meta)"
          icon="bx-calendar.svg"
          *ngIf="meta.type === 'date'"
          (onSelect)="dateFilterSelect($event, meta)"
        ></DateFilter>

        <SelectionFilter
          [text]="getMetaDataName(meta)"
          icon="bx-list-check.svg"
          [selections]="filterOptions[meta.name]"
          *ngIf="meta.type === 'string'"
          (onChanged)="selectionFilterChanged($event, meta)"
        ></SelectionFilter>
      </div>

      <div class="filter-action text-right">
        <Button icon="gray/bx-reset.svg" type="secondary" class="mr-2" (onClick)="clearTopFilters()">Xoá tất cả</Button>
        <Button icon="white/bx-search-alt.svg" type="primary" (onClick)="triggerFilter()">Tìm kiếm</Button>
      </div>
    </Card>
    <Card class="flex-1 main-table">
      <div class="page-action-wrapper text-left">
        <div class="page-action ml-auto">
          <Button icon="bxs-dock-left.svg"
                  [type]="leftFilterShow ? 'light' : 'default'"
                  class="mr-2"
                  (click)="toggleCard($event, 'leftFilter')"
          ></Button>
          <Button icon="bxs-dock-top.svg"
                  [type]="topFilterShow ? 'light' : 'default'"
                  class="mr-2"
                  (click)="toggleCard($event, 'topFilter')"
          ></Button>
          <Dropdown type="light" icon="bx-slider-alt.svg" [caret]="false">
            <div class="columns-setting">
              <div *ngFor="let column of tableColumns; let i = index" class="flex items-center column-setting"
                   (click)="toggleColumn(column)"
                   [class.active]="column.active"
                   [class.last]="(i + 1) === tableColumns.length"
              >
                <Checkbox [checked]="column.active" [title]="column.text"></Checkbox>
              </div>
            </div>
          </Dropdown>
        </div>
      </div>
      <div class="table-container" #table>
        <Table [columns]="tableColumns"
               [dataSource]="tableData"
               [totalItems]="totalItems"
               [sizeOptions]="[10, 20, 50]"
               (sizeChanged)="onTableSizeChanged($event)"
               (pageChanged)="onTablePageChanged($event)"
               (bookmarkClicked)="onBookmarkClicked($event)"
               (sorted)="onSorted($event)"
               [page]="page"
               [expandable]="searchTerm.length > 0"
               [inSearchMode]="searchTerm.length > 0"
               [bookmark]="true"
               [action]="false"
               expandAttr="highlight"
               class="w-full"
        >
          <!--<ng-template #actionTemplate let-data="data">
            <a href="javascript: void(0)" (click)="deleteDocument(data)" *ngIf="enableDelete">
              <fa-icon [icon]="faTrash" [classes]="['btn-delete']" size="lg"></fa-icon>
            </a>
          </ng-template>-->
        </Table>
        <ngx-spinner type="ball-clip-rotate-multiple" name="table-loader" [fullScreen]="false"></ngx-spinner>
      </div>
    </Card>
  </div>
</div>
