@import "src/globals";

.left-toggle, .top-toggle {
  @apply absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.columns-setting, .layout-setting {

  > div {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 4px;

    &.last {
      margin-bottom: 0 !important;
    }

    &.active {
      background: $color-primary-light;
    }
  }
}

h5.card-title {
  text-transform: uppercase;
  font-size: 13px;
  @apply font-bold flex items-center mb-3;
}

.page-action-wrapper {
  @apply flex justify-between mb-2;

  .page-action {
    @apply inline-block;
  }
}

table ::ng-deep {

  thead {
    @apply sticky;
    top: 90px;
  }
}
