<div class="p-4">
  <h2>Buttons</h2>
  <hr/>
  <div class="mt-4">
    <Button class="mr-4">Default</Button>
    <Button type="primary" class="mr-4">Primary</Button>
    <Button type="secondary" class="mr-4">Secondary</Button>
  </div>
  <div class="my-4">
    <Button class="mr-4" icon="bx-menu.svg"></Button>
    <Button type="primary" class="mr-4" icon="bx-menu-w.svg">Icon</Button>
  </div>

  <h2>Filters</h2>
  <hr/>
  <div class="my-4">
    <DateFilter
      text="Ngày ký"
      icon="bx-calendar.svg"
      (onSelect)="onDateRangeSelect($event)"
      class="mr-4"
    ></DateFilter>

    <SelectionFilter
      text="Trạng thái"
      icon="bx-list-check.svg"
      class="mr-4"
      [selections]="selectionData"
      (onChanged)="selectionChanged($event)"
    ></SelectionFilter>

    <NumberFilter
      text="Số bản cứng"
      icon="bx-radio-circle-marked.svg"
      [min]="6"
      [max]="30"
      (onChanged)="numberChanged($event)"
    ></NumberFilter>
  </div>

  <h2>Tree</h2>
  <hr/>

  <div class="my-4">
    <Tree [data]="treeData" (onSelect)="treeItemSelected($event)"></Tree>
  </div>

  <h2>Table</h2>
  <hr/>

  <div class="my-4">
    <Table [columns]="tableColumns" class="w-full"></Table>
  </div>
</div>
