@import "src/globals";

.adm-pagination {
  @apply w-full flex items-center justify-between py-2 mt-2 text-sm;

  > div {
    @apply flex items-center;
  }

  ::ng-deep {

    .pagination {

      .page-item {

        &.active {

          a {
            background-color: $color-primary-light !important;
            color: $color-primary !important;
          }
        }

        a {
          @apply border-none;
          color: unset !important;

          &:hover {
            background-color: $color-primary-light !important;
            color: $color-primary !important;
          }
        }
      }
    }
  }
}
