@import "src/globals";

.mat-header-cell {
  @apply text-white text-sm;

  &:first-of-type {
    @apply p-0 #{!important};
  }

  &:last-of-type {
    @apply p-0 #{!important};
  }
}

.mat-cell {
  font-size: 0.75rem;
  @apply p-2 #{!important};

  .secondary-row {
    display: contents;

    em {
      color: red !important;
    }
  }
}

.mat-row {

  &:not(.expanded-row) {

    &:hover {
      background: $color-primary-light;
      @apply cursor-pointer;
    }
  }
}

tr.mat-header-row {
  @apply h-8;
  background-color: rgb(249, 250, 251);

  th {
    color: rgb(55, 65, 81);
  }
}

tr.mat-row {
  @apply h-8;

  &.in-search {
    background-color: $color-primary-light !important;

    td {
      border-bottom: none !important;
    }
  }

  td {

    &.mat-column-expandedDetail {
      @apply pb-6 #{!important};
    }
  }
}

.btn-edit {

  path {
    fill: $color-primary;
  }
}

.btn-delete {

  path {
    fill: $color-danger;
  }
}
