@import "src/globals";

.asterisk {
  @apply font-bold text-red-600;
}

.dropzone-preview {
  @apply flex-col justify-end #{!important};
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: top;

  &.doc {
    background-image: url("../../../assets/icons/gray/bxs-file-doc.svg") !important;
  }

  &.txt {
    background-image: url("../../../assets/icons/gray/bxs-file-txt.svg") !important;
  }
}

.dropzone-label {
  @apply w-full;
}

.mat-tab-group ::ng-deep {

  .mat-ink-bar {
    background-color: $color-primary !important;
  }
}
