.adm-button {

  @apply px-3 py-2
  rounded-md
  shadow-sm
  font-medium
  text-base
  focus:ring-2 focus:ring-offset-2
  sm:w-auto sm:text-sm;

  line-height: inherit !important;
  border: 1px solid;

  ::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
  }

  &.adm-button-default {
    @apply border-transparent focus:ring-gray-200;
  }

  &.adm-button-primary {
    @apply bg-orange-apple-aqua-600 text-white hover:bg-orange-apple-aqua-700
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-apple-aqua-500;
  }

  &.adm-button-secondary {
    @apply border-gray-300 bg-white
    text-gray-700 hover:bg-gray-50 focus:outline-none
    focus:ring-gray-500
  }

  &.adm-button-active {
    @apply border-green-400 bg-green-300
    text-white hover:bg-gray-50 focus:outline-none
    focus:ring-gray-500
  }
}
