<div class="modal-title">
    <strong>Thêm quy trình</strong>
    <Button (onClick)="closeModal()">Đóng</Button>
  </div>
  <mat-dialog-content class="mat-typography adm-modal-body">
    <div class="container-fluid">
        <div class="row form-group">
            <label class="col-12"><strong><span class="asterisk">*</span> Tên quy trình</strong></label>
            <div class="col-12">
                <input class="form-control" [(ngModel)]="model.name"/>
            </div>
        </div>
      <div class="row form-group" *ngIf="isAdminRole">
        <div class="col-12">
          <input type="checkbox" [(ngModel)]="model.isGlobal"/> Quy trình chung?
        </div>
      </div>
        <div class="row form-group" *ngIf="isAdminRole">
          <label class="col-12"><strong><span class="asterisk">*</span> Đơn vị</strong></label>
          <div class="col-12">
            <select [disabled]="model.isGlobal" class="form-control" [(ngModel)]="model.companyId">
              <option [value]="company.id" *ngFor="let company of companies">{{company.name}}</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
            <label class="col-12"><strong>Mô tả</strong></label>
            <div class="col-12">
                <textarea class="form-control" [(ngModel)]="model.description"></textarea>
            </div>
        </div>
        <!--<div class="row form-group">
            <label class="col-12"><strong>Số bước quy trình</strong></label>
            <div class="col-12">
                <input class="form-control" type="number" min="0" max="10" [(ngModel)]="model.step"/>
            </div>
        </div>-->
        <div class="row" *ngIf="err">
            <div class="col-12">
                <p class="error">
                    {{err}}
                </p>
            </div>
        </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="p-4">
    <Button type="primary" class="mb-4 mr-2" (onClick)="add()">Thêm</Button>
</mat-dialog-actions>
