.overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: none;
  background: rgba(0, 0, 0, 0.30);
  transition: opacity .5s;

  &.show {
    display: block;
  }
}
