@import "src/globals";

.example-tree-invisible {
  display: none;
}

.tree-option {
  padding-left: 30px;
  padding-right: 10px;

  &.active {
    background: $color-primary-light;
  }

  &:hover {
    @apply text-orange-apple-aqua-600;
  }
}

:host ::ng-deep {

  .mat-expansion-panel-body {
    @apply p-0;
  }

  .mat-expansion-panel {
    @apply m-0;
    @apply border-gray-300 border;
    border-radius: $default-border-radius;
    box-shadow: none !important;
  }

  .tree-option-wrappers {
    max-height: 250px;
    overflow-y: auto;
  }
}

.mat-tree-node {
  min-height: 30px;
  padding: 10px 0;
  @apply cursor-pointer;
}

img {
  margin-right: 10px;
}

.main-node {
  @apply font-bold text-orange-apple-aqua-600;
  padding: 10px 15.5px;

  &.active {
    background: $color-primary-light;
  }
}

.view-more {
  @apply font-bold cursor-pointer text-center;
  color: $color-primary;
}

:host ::ng-deep {
  .mat-checkbox-layout {
    @apply mb-0 mr-2;
  }
}
