<ng-container>
  <div class="flex flex-col flex-auto min-h-screen overflow-hidden ">
    <aside
      class="flex flex-col items-center text-gray-600 shadow min-h-screen bg-gray-800 fixed top-0 left-0 z-50 flex-shrink-0">
      <app-left-menu></app-left-menu>
    </aside>
    <!-- debug-screens -->
    <div class="ml-[72px] flex flex-col flex-auto">
      <app-header></app-header>
      <div class="flex flex-col flex-1">
        <router-outlet></router-outlet>
      </div>
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</ng-container>
