mat-checkbox ::ng-deep {

  .mat-checkbox-frame {
    border-width: 1px !important;
  }

  .mat-checkbox-label {
    white-space: initial;
  }
}

.selection-wrapper {
  max-height: 250px;
  overflow-y: auto;
}

.no-result {
  @apply text-center italic text-gray-400 py-4;
}
