<div
  class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6 ">
  <div class="flex-1 flex justify-between sm:hidden">
    <a (click)="previousPage()"
       class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
    >
      Về trang trước
    </a>
    <span>{{currentPage}}/{{page_count}}</span>
    <a (click)="nextPage()"
       class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
    >
      Trang sau
    </a>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Hiển thị trang
        <span class="font-medium">{{currentPage}}</span>
        trong tổng
        <span class="font-medium">{{page_count}}</span>
        trang
      </p>
    </div>
    <div>
      <nav aria-label="Pagination" class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px">
        <a (click)="previousPage()"
           class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        >
          <span class="sr-only">Previous</span>
          <svg aria-hidden="true" class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  fill-rule="evenodd"/>
          </svg>
        </a>
        <ng-container *ngFor="let item of lstCountPages">
          <a (click)="clickPage(item)"
             [ngClass]="currentPage === item ? 'z-10 bg-orange-apple-aqua-50 border-orange-apple-aqua-500 text-orange-apple-aqua-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'"
             aria-current="page"
             class="relative inline-flex items-center px-4 py-2 border text-sm font-medium"
          >
            {{item}}
          </a>
        </ng-container>
        <a (click)="nextPage()"
           class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        >
          <span class="sr-only">Next</span>
          <svg aria-hidden="true" class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  fill-rule="evenodd"/>
          </svg>
        </a>
      </nav>
    </div>
  </div>
</div>
