@import "src/globals";

.header-search-form {
  @apply relative;
  width: 450px;

  .ng-fa-icon {
    padding: 0 15px;
    padding-right: 10px;
    font-size: 17px;

    @apply text-black;
  }

  .input-group {
    @apply items-center;
  }

  .header-search-close-btn {
    @apply hidden;
  }

  .input-group-prepend {
    @apply absolute;
    z-index: 4;

    .input-group-text {
      @apply bg-none;
    }
  }

  .input-group-append {
    @apply absolute right-0;
    z-index: 4;
    height: 36px;

    .input-group-text {
      @apply bg-none;
    }
  }

  .form-control {
    @apply h-auto text-black;
    border-radius: $default-border-radius;
    padding: 10px 15px;
    padding-left: 45px;
  }
}

@media (max-width: 992px) {
  .header-search-form {
    display: none;
    position: fixed !important;
    background: rgba(0, 0, 0, 0.30);
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &.show {
      display: block;
    }

    .header-search-close-btn {
      display: block !important;
    }

    .btn {
      font-size: 16px;
    }

    .form-control {
      border-radius: 0 !important;
      background-color: white !important;
      padding: 20px 0 !important;
      padding-left: 60px !important;
      font-size: 16px;
    }
  }
}
