<div class="flex flex-1 justify-between">
  <div>
    <span class="xl:text-lg lg:text-base md:text-sm font-extrabold overflow-ellipsis whitespace-nowrap overflow-hidden">
      {{ getFileName() }}
    </span>
  </div>
  <div>
    <!-- TODO: đóng tạm thời
    <span class="text-sm text-gray-400 mr-3">
      <span class="mr-3"> {{ percentage$ | async }}% </span>
      <ng-container *ngIf="(percentage$ | async) < 100">
        <span> {{ seconds }} giây </span>
      </ng-container>
    </span>
   -->
    <ng-container *ngIf="(percentage$ | async) < 100; else success">
      <!-- pause -->
      <ng-container *ngIf="!isPause; else play">
        <span (click)="clickPause()" class="cursor-pointer">
          <svg
            class="inline text-gray-400"
            fill="currentColor"
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
            ></path>
            <path d="M13 9h2v6h-2zM9 9h2v6H9z"></path>
          </svg>
        </span>
      </ng-container>
      <!-- play -->
      <ng-template #play
      ><span (click)="clickPlay()" class="cursor-pointer">
          <svg
            class="inline text-red-400"
            fill="currentColor"
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
            ></path>
            <path d="m9 17 8-5-8-5z"></path>
          </svg>
        </span>
      </ng-template>
    </ng-container>
    <!-- success -->
    <ng-template #success>
      <span class="cursor-pointer">
        <svg
          class="inline text-green-400"
          fill="currentColor"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
          ></path>
          <path d="M9.999 13.587 7.7 11.292l-1.412 1.416 3.713 3.705 6.706-6.706-1.414-1.414z"></path>
        </svg> </span
      ></ng-template>
  </div>
</div>
<ng-container *ngIf="(percentage$ | async) !== 100; else progressDone">
  <mat-progress-bar color="{{ color }}" mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-template #progressDone>
  <mat-progress-bar [value]="100" color="{{ color }}" mode="determinate"></mat-progress-bar>
</ng-template>
