<ng-container *ngIf="(ocrNode$ | async) as ocrNode">
  <ng-container *ngIf="(loadingFirstTime$ | async); else loadingDone">
    <div class="h-full w-full flex items-center text-center align-middle">
      <mat-progress-spinner
        class="mx-auto my-auto"
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </ng-container>
  <ng-template #loadingDone>
    <div class="flex justify-between border-solid border border-gray-300 h-[56px] z-10">
      <div
        class="justify-end items-center px-2 py-2 sm:px-8 sm:flex sm:flex-row-reverse p-4">
        <button *ngIf="showNhanDang"
                (click)="nhanDang()"
                class="
          w-full
          inline-flex
          justify-center
          border border-transparent
          px-4
          py-2
          text-base
          font-medium
          sm:w-auto sm:text-sm sm:mr-3
          bg-orange-apple-aqua-500
          lg:hover:bg-orange-apple-aqua-700
          rounded-xl
          text-white
          shadow-sm
          lg:hover:shadow-inner
          transition
          duration-500
          ease-in-out
          transform
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-apple-aqua-800
        "
        >
          Nhận dạng
        </button>
        <button
          (click)="trichXuatMetadata()"
          *ngIf="showBtnExtract"
          class="
          w-full
          inline-flex
          justify-center
          border border-transparent
          px-4
          py-2
          text-base
          font-medium
          sm:w-auto sm:text-sm sm:mr-3
          bg-teal-apple-aqua-500
          lg:hover:bg-teal-apple-aqua-700
          rounded-xl
          text-white
          shadow-sm
          lg:hover:shadow-inner
          transition
          duration-500
          ease-in-out
          transform
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-apple-aqua-800
        "
        >
          Trích xuất Metadata
        </button>
        <button
          (click)="Dong()"
          class="
          w-full
          inline-flex
          justify-center
          border border-transparent
          px-4
          py-2
          text-base
          font-medium
          sm:w-auto sm:text-sm sm:mr-3
          bg-gray-apple-aqua-500
          lg:hover:bg-gray-apple-aqua-700
          rounded-xl
          text-white
          shadow-sm
          lg:hover:shadow-inner
          transition
          duration-500
          ease-in-out
          transform
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-apple-aqua-800
        "
        >
          Đóng
        </button>
      </div>
      <div class="items-center px-2 py-2 sm:px-8 sm:flex sm:flex-row p-4">
        <div (click)="showImg()" *ngIf="!isShowImg" class="flex items-center inline-block">
          <input class="h-4 w-4 border-gray-300 rounded text-orange-apple-aqua-600 focus:ring-orange-500"
                 type="checkbox">
          <label class="ml-3 min-w-0 flex-1 text-gray-500">
            Hiển thị ảnh
          </label>
        </div>
        <ng-container *ngIf="ocrNode.state === -1">
          <div (click)="showOcrText()" *ngIf="!isShowOcrtext" class="flex items-center inline-block ml-2.5">
            <input class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500" type="checkbox">
            <label class="ml-3 min-w-0 flex-1 text-gray-500">
              Hiển thị kết quả nhận dạng
            </label>
          </div>
          <div (click)="showMetadata()" *ngIf="!isShowMetadata" class="flex items-center inline-block ml-2.5">
            <input class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500" type="checkbox">
            <label class="ml-3 min-w-0 flex-1 text-gray-500">
              Hiển thị kết quả Metadata
            </label>
          </div>
        </ng-container>
      </div>
      <div class="flex justify-end px-2 py-2">
        <ng-container *ngIf="ocrNode.state === -1">
          <button (click)="save()"
                  class="
              px-2
              py-2
              mr-2
              flex
              justify-center
              items-center
              w-full
              bg-gray-200
              rounded-md
              focus:text-gray-900 focus:outline-none
              transition
              duration-500
              ease-in-out
              transform
              lg:hover:-translate-x lg:hover:scale-105
            "
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path
                d="M5 21h14a2 2 0 0 0 2-2V8a1 1 0 0 0-.29-.71l-4-4A1 1 0 0 0 16 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zm10-2H9v-5h6zM13 7h-2V5h2zM5 5h2v4h8V5h.59L19 8.41V19h-2v-5a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v5H5z"></path>
            </svg>
          </button>

        </ng-container>
        <button (click)="ClickFullSreen()"
                class="
              px-2
              py-2
              flex
              justify-center
              items-center
              w-full
              bg-gray-200
              rounded-md
              focus:text-gray-900 focus:outline-none
              transition
              duration-500
              ease-in-out
              transform
              lg:hover:-translate-x lg:hover:scale-105
            "
        >
          <ng-container *ngIf="!isFullScreen; else exitfullseenIcon">
            <svg class="h-6 w-6" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z"></path>
            </svg>
          </ng-container>
          <ng-template #exitfullseenIcon>
            <svg class="h-6 w-6" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M10 4H8v4H4v2h6zM8 20h2v-6H4v2h4zm12-6h-6v6h2v-4h4zm0-6h-4V4h-2v6h6z"></path>
            </svg>
          </ng-template>
        </button>
      </div>
    </div>
    <div class="overflow-y-auto w-full h-full-56 relative border-l-2 border-solid border-gray-300">
      <div *ngIf="(ocrNode.state == 1 || ocrNode.state == 2)" class="px-4 py-3 sm:px-8 p-4 h-[60px]">
        <ocr-progressing [ocrNode]="ocrNode"></ocr-progressing>
      </div>
      <div *ngIf="ocrNode.page_count > 1" class="border-b border-solid border-gray-300">
        <ocr-file-page (currentPage)="getCurrentPage($event)" [page_count]="ocrNode.page_count"></ocr-file-page>
      </div>
      <ng-container>
        <div
          [ngClass]="[(ocrNode.state === 1 || ocrNode.size === 2) ? 'h-[calc(100%-60px)]' : 'h-full',
          ocrNode.page_count > 1 && ocrNode.state == 1 ? 'h-[calc(100%-120px)]' : '',
          ocrNode.page_count > 1 && ocrNode.state != 1 ? 'h-[calc(100%-60px)]' : '',
          numberCol === 1 ? 'grid-cols-1' : '',
          numberCol === 2 ? 'grid-cols-2' : '',
          numberCol === 3 ? 'grid-cols-3' : '']"
          class="ml-1.5 w-[calc(100%-0.5rem)] grid  gap-2 box-border relative">
          <div #imgBox *ngIf="isShowImg" class="mx-auto my-auto relative rounded-lg">
            <ng-container *ngIf="!(isImageLoading.asObservable() | async); else notFoundImage">
              <div (click)="downloadFile()" class="cursor-pointer absolute right-8 top-1">
                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.948 11.112C18.511 7.67 15.563 5 12.004 5c-2.756 0-5.15 1.611-6.243 4.15-2.148.642-3.757 2.67-3.757 4.85 0 2.757 2.243 5 5 5h1v-2h-1c-1.654 0-3-1.346-3-3 0-1.404 1.199-2.757 2.673-3.016l.581-.102.192-.558C8.153 8.273 9.898 7 12.004 7c2.757 0 5 2.243 5 5v1h1c1.103 0 2 .897 2 2s-.897 2-2 2h-2v2h2c2.206 0 4-1.794 4-4a4.008 4.008 0 0 0-3.056-3.888z"></path>
                  <path d="M13.004 14v-4h-2v4h-3l4 5 4-5z"></path>
                </svg>
              </div>
              <div (click)="closeShowImg()" class="cursor-pointer absolute right-1 top-1">
                <svg height="24" viewBox="0 0 24 24" width="24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 19c.946 0 1.81-.103 2.598-.281l-1.757-1.757c-.273.021-.55.038-.841.038-5.351 0-7.424-3.846-7.926-5a8.642 8.642 0 0 1 1.508-2.297L4.184 8.305c-1.538 1.667-2.121 3.346-2.132 3.379a.994.994 0 0 0 0 .633C2.073 12.383 4.367 19 12 19zm0-14c-1.837 0-3.346.396-4.604.981L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.319-3.319c2.614-1.951 3.547-4.615 3.561-4.657a.994.994 0 0 0 0-.633C21.927 11.617 19.633 5 12 5zm4.972 10.558-2.28-2.28c.19-.39.308-.819.308-1.278 0-1.641-1.359-3-3-3-.459 0-.888.118-1.277.309L8.915 7.501A9.26 9.26 0 0 1 12 7c5.351 0 7.424 3.846 7.926 5-.302.692-1.166 2.342-2.954 3.558z"></path>
                </svg>
              </div>
              <div>
                <img [alt]="ocrNode.name" [src]="imageToShow" class="h-auto w-full rounded-lg"/>
              </div>
            </ng-container>
            <ng-template #notFoundImage>
              <mat-progress-spinner
                color="primary"
                mode="indeterminate">
              </mat-progress-spinner>
            </ng-template>
          </div>
          <!--        <div #dragHover (cdkDragMoved)="dragMove(dragHover, $event)" cdkDrag cdkDragLockAxis="x"-->
          <!--             class="border-solid border-2 border-gray-700 rounded-lg w-[12px]-->
          <!--                          bg-gray-100 right-0 inset-y-0 flex sm:items-center w-4 cursor-[ew-resize] hover:bg-gray-300 transition-colors ease-in relative z-40 right-0">-->
          <!--          <svg height="24" viewBox="0 0 24 24" width="24"-->
          <!--               xmlns="http://www.w3.org/2000/svg">-->
          <!--            <path-->
          <!--              d="M19.924 10.383a1 1 0 0 0-.217-1.09l-5-5-1.414 1.414L16.586 9H4v2h15a1 1 0 0 0 .924-.617zM4.076 13.617a1 1 0 0 0 .217 1.09l5 5 1.414-1.414L7.414 15H20v-2H5a.999.999 0 0 0-.924.617z"></path>-->
          <!--          </svg>-->
          <!--        </div>-->
          <div #textareaEle *ngIf="isShowOcrtext" class="mx-auto my-auto  w-full h-full relative">
            <div (click)="closeShowOcrText()" class="cursor-pointer absolute right-3 top-1">
              <svg height="24" viewBox="0 0 24 24" width="24"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 19c.946 0 1.81-.103 2.598-.281l-1.757-1.757c-.273.021-.55.038-.841.038-5.351 0-7.424-3.846-7.926-5a8.642 8.642 0 0 1 1.508-2.297L4.184 8.305c-1.538 1.667-2.121 3.346-2.132 3.379a.994.994 0 0 0 0 .633C2.073 12.383 4.367 19 12 19zm0-14c-1.837 0-3.346.396-4.604.981L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.319-3.319c2.614-1.951 3.547-4.615 3.561-4.657a.994.994 0 0 0 0-.633C21.927 11.617 19.633 5 12 5zm4.972 10.558-2.28-2.28c.19-.39.308-.819.308-1.278 0-1.641-1.359-3-3-3-.459 0-.888.118-1.277.309L8.915 7.501A9.26 9.26 0 0 1 12 7c5.351 0 7.424 3.846 7.926 5-.302.692-1.166 2.342-2.954 3.558z"></path>
              </svg>
            </div>
            <ng-container *ngIf="lstOcrText.length > 0">
            <textarea [(ngModel)]="ocrNode.ocr.pages[this.page-1]"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full h-full sm:text-sm border border-gray-300 resize-none border rounded-lg"
                      name="textarea">
            </textarea>
            </ng-container>
          </div>
          <div *ngIf="isShowMetadata" class=" w-full h-full relative">
            <div (click)="closeMetadta()" class="cursor-pointer absolute right-3 top-1 z-10">
              <svg height="24" viewBox="0 0 24 24" width="24"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 19c.946 0 1.81-.103 2.598-.281l-1.757-1.757c-.273.021-.55.038-.841.038-5.351 0-7.424-3.846-7.926-5a8.642 8.642 0 0 1 1.508-2.297L4.184 8.305c-1.538 1.667-2.121 3.346-2.132 3.379a.994.994 0 0 0 0 .633C2.073 12.383 4.367 19 12 19zm0-14c-1.837 0-3.346.396-4.604.981L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.319-3.319c2.614-1.951 3.547-4.615 3.561-4.657a.994.994 0 0 0 0-.633C21.927 11.617 19.633 5 12 5zm4.972 10.558-2.28-2.28c.19-.39.308-.819.308-1.278 0-1.641-1.359-3-3-3-.459 0-.888.118-1.277.309L8.915 7.501A9.26 9.26 0 0 1 12 7c5.351 0 7.424 3.846 7.926 5-.302.692-1.166 2.342-2.954 3.558z"></path>
              </svg>
            </div>
            <div class="p-1 w-full h-full relative">
              <ocr-table-metadata [OcrNodeModel]="ocrNode" class="w-full h-full "></ocr-table-metadata>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</ng-container>

