@import "src/globals";

.adm-button {

  @apply px-3 py-2
  rounded-md
  shadow-sm
  font-medium
  text-base
  focus:ring-2 focus:ring-offset-2
  sm:w-auto sm:text-sm
  flex justify-start items-center
  bg-gray-200
  rounded-md focus:text-gray-900 focus:outline-none;

  @apply w-full #{!important};

  line-height: inherit !important;
  border: 1px solid;

  ::ng-deep .mat-button-wrapper {
    @apply flex items-center;
  }

  &.adm-button-default {
    @apply border-transparent focus:ring-gray-200;
  }

  &.adm-button-primary {
    @apply border-orange-apple-aqua-600 bg-orange-apple-aqua-600 text-white hover:bg-orange-apple-aqua-700
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-apple-aqua-500;
  }

  &.adm-button-light {
    background-color: $color-primary-light;
    @apply border-orange-apple-aqua-100 text-white hover:bg-orange-apple-aqua-200
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-apple-aqua-500;
  }

  &.adm-button-secondary {
    @apply border-gray-300 bg-white
    text-gray-700 hover:bg-gray-50 focus:outline-none
    focus:ring-gray-500
  }

  &.adm-button-active {
    @apply border-gray-300 bg-white
    text-gray-700 hover:bg-gray-50 focus:outline-none
    focus:ring-gray-500
  }
}
