@import "src/globals";

.header {
  z-index: 999;
  position: fixed;
  right: $sidebar-width;
  left: $navigation-width;
  top: 0;
  background-color: $background-primary;

  .header-container {
    @apply flex;
    height: $header-height;
    padding: 0 30px;
  }

  .search-toggler {
    display: none;
  }

  .navigation-toggler {
    display: none;
    margin-right: 30px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;

      i {
        font-size: 22px !important;
      }
    }
  }

  .header-body {
    @apply relative flex items-center justify-between flex-auto;

    .page-title {
      h1, h2, h3, h4, h5, h6 {
        @apply mb-0;
        line-height: inherit;
      }
    }

    .header-body-left {
      @apply flex-1;
    }
  }

  .header-toggler {
    @apply hidden;

    a.nav-link {
      padding: 20px !important;

      i {
        font-size: 22px !important;
      }
    }
  }

  [data-toggle="fullscreen"] {
    .minimize {
      display: none;
    }
  }

  .active-fullscreen {
    .minimize {
      display: block;
    }

    .maximize {
      display: none;
    }
  }

  ul.navbar-nav {
    @apply flex-row items-center;

    li.nav-item {

      a.nav-link {
        line-height: 100%;
        padding: 10px 15px;

        i {
          font-size: 17px;
        }

        &.mobile-header-search-btn {
          @apply hidden;
        }

        &:hover, &:focus {
          outline: none;
          color: black;
        }
      }
    }

    & + form.search {
      @apply ml-6;
    }
  }
}


@media (max-width: 1200px) {
  .header {
    margin: 0;
    left: 0;
    right: 0;

    .header-toggler {
      display: block;
    }

    .navigation-toggler {
      display: block !important;
    }

    .header-body-right {

      li {
        a:not(.list-group-item) {
          color: white;

          &:hover, &:focus, &:active {
            color: rgba(white, .8) !important;
          }
        }
      }

      &.open {
        display: flex;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {

    .search-toggler {
      display: block !important;
    }
  }
}
