@import "src/globals";

:host ::ng-deep {

    .ng-fa-icon {
        svg {
            color: $color-primary !important;
        }
    }

    .mat-step-label {
        @apply w-full;
    }

    .flow-info {
        background-color: $color-primary-light;
        @apply rounded-lg p-4;
    }

    .step {
      border: 1px solid;
      border-radius: 4px;
      @apply border-gray-apple-aqua-300 p-2;
    }
}
