.example-tree-invisible {
  display: none;
}

.mat-nested-tree-node div[role=group] {
  padding-left: 40px;

  .mat-tree-node {

    &:hover {
      @apply text-orange-apple-aqua-600;
    }
  }
}

.mat-tree-node {
  min-height: 30px;
  @apply cursor-pointer;
}

img {
  margin-right: 10px;
}

.main-node {
  @apply font-bold text-orange-apple-aqua-600;
}
