<div class="row">
    <div class="col-12 page-header">
      <img src="assets/icons/primary/bxs-user-detail.svg"/>
      <h1>Tài liệu của tôi</h1>
    </div>
  </div>
<div class="row">
    <div class="col-md-10">
        <Card>
            <Table
                [dataSource]="data"
                [columns]="tableColumns"
                [action]="true"
                [sizeOptions]="[10, 20, 50]"
                class="w-full"
                [pagination]="false"
            >
            </Table>
        </Card>
    </div>
    <div class="col-md-2">
        <Card>
            <div class="my-doc-stat">
                <div class="stat-left">
                    <h2 class="text-center">Tổng</h2>
                </div>
                <p class="text-center">{{documentCount.total}}</p>
            </div>
        </Card>
        <Card>
            <div class="my-doc-stat">
                <div class="stat-left">
                    <h2 class="text-center">Chờ duyệt</h2>
                    <mat-slide-toggle (change)="settingChanged('new')" [checked]="settings.new"></mat-slide-toggle>
                </div>
                <p class="text-center">{{documentCount.new}}</p>
            </div>
        </Card>
        <Card>
            <div class="my-doc-stat">
                <div class="stat-left">
                    <h2 class="text-center">Đã duyệt</h2>
                    <mat-slide-toggle (change)="settingChanged('approved')" [checked]="settings.approved"></mat-slide-toggle>
                </div>
                <p class="text-center">{{documentCount.approved}}</p>
            </div>
        </Card>

        <Card>
            <div class="my-doc-stat">
                <div class="stat-left">
                    <h2 class="text-center">Từ chối</h2>
                    <mat-slide-toggle (change)="settingChanged('rejected')" [checked]="settings.rejected"></mat-slide-toggle>
                </div>
                <p class="text-center">{{documentCount.rejected}}</p>
            </div>
        </Card>
    </div>
</div>
