$hover-active: #eef9fe; //cyan-apple-aqua-100

::ng-deep .ocr-progress-spinner .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #dd6b20;
}

::ng-deep .extract-progress-spinner .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #7c3aed;
}

.element-row {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: $hover-active;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.mat-header-row {
  min-height: 0 !important;
}

.element-row {
  mat-cell {
    border-bottom: 2px solid;
    // border-gray-300
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  }
}

.element-row.expanded {
  mat-cell {
    border: none;
  }
}

.row-expanded {
  border-bottom: 2px solid !important;
  // border-gray-300
  --tw-border-opacity: 1 !important;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
}

.cell-expand:nth-child(odd) {
  //gray-apple-aqua-50
  background-color: #f9f9fa;
}

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f9f9fa;
}

.highlight {
  // cyan-apple-aqua-300
  background: $hover-active;
}

.body-list-table {
  height: calc(100vh - 116px);
}

.action-filter {
  @apply flex mx-2 my-2
}

.btn-action-filter {
  @apply px-3 py-2 flex bg-gray-200 justify-center items-center w-full rounded-md focus:text-gray-900 focus:outline-none;
  @layer transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105;
}

.user-folder-header {
  @apply px-2 py-2 align-middle font-normal text-left;
}


tbody {
  tr:nth-child(odd) {
  }

  tr:nth-child(even) {
    @apply bg-gray-apple-aqua-100;
  }
}


.active-color {
  background-color: #54a9ff !important;
}

.ocr-filter {
  @apply bg-white rounded-lg drop-shadow-lg
}
