<div class="modal-title">
    <strong>Thêm bước quy trình</strong>
    <Button (onClick)="closeModal()">Đóng</Button>
  </div>
  <mat-dialog-content class="mat-typography adm-modal-body">
    <div class="container-fluid">
        <div class="row form-group">
            <label class="col-12"><strong>Quy trình</strong></label>
            <div class="col-12">
                {{data.name}}
            </div>
        </div>
        <div class="row form-group">
            <label class="col-12"><strong>Nhóm phê duyệt</strong></label>
            <div class="col-12">
                <select class="form-control" [(ngModel)]="type">
                    <option [value]="WorkflowTypeEnum.PERSON">Cá nhân</option>
                    <option [value]="WorkflowTypeEnum.ROLE">Chức vụ</option>
                </select>
            </div>
        </div>
        <div class="row form-group" *ngIf="+type === WorkflowTypeEnum.PERSON">
            <label class="col-12"><strong>Cá nhân duyệt</strong></label>
            <div class="col-12">
                <mat-form-field class="w-full">
                    <mat-chip-list #chipListUser aria-label="Fruit selection">
                        <mat-chip
                          *ngFor="let user of selectedUsers"
                          (removed)="removeUser(user)">
                          {{user.fullName}}
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                        <input
                          placeholder="Tìm kiếm ..."
                          #userInput
                          [(ngModel)]="userKey"
                          (keyup)="userSearch($event)"
                          [matAutocomplete]="autoUser"
                          [matChipInputFor]="chipListUser">
                      </mat-chip-list>
                      <mat-autocomplete #autoUser="matAutocomplete" (optionSelected)="selectedUser($event)">
                        <mat-option *ngFor="let user of filteredUsers" [value]="user">
                          {{user.fullName}}
                        </mat-option>
                      </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="row form-group" *ngIf="+type === WorkflowTypeEnum.ROLE">
            <label class="col-12"><strong>Đơn vị</strong></label>
            <div class="col-12">
                <select class="form-control" [(ngModel)]="selectedCompanyId" (change)="companyChanged()">
                    <option [value]="company.id" *ngFor="let company of companies">{{company.name}}</option>
                </select>
            </div>
        </div>
        <div class="row form-group" *ngIf="+type === WorkflowTypeEnum.ROLE">
            <label class="col-12"><strong>Chức vụ</strong></label>
            <div class="col-12">
                <mat-form-field class="w-full">
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip
                          *ngFor="let role of selectedRoles"
                          (removed)="remove(role)">
                          {{role.name}}
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                        <input
                          placeholder="Tìm kiếm ..."
                          #roleInput
                          [(ngModel)]="roleKey"
                          (keyup)="roleSearch($event)"
                          [matAutocomplete]="auto"
                          [matChipInputFor]="chipList">
                      </mat-chip-list>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let role of filteredRoles" [value]="role">
                          {{role.name}}
                        </mat-option>
                      </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="err">
            <div class="col-12">
                <p class="error">
                    {{err}}
                </p>
            </div>
        </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="p-4">
    <Button type="primary" class="mb-4 mr-2" (onClick)="add()">Thêm</Button>
</mat-dialog-actions>
