<div class="row">
  <div class="col-12">
    <Card>
      <Button class="mr-2" type="primary" icon="white/bx-arrow-back.svg" (onClick)="backToSearch()">Trở lại</Button>
      <Button (click)="deleteDocument()" *ngIf="permissions.candelete" class="mr-2" type="secondary" icon="bx-trash.svg">Xoá tài liệu</Button>
      <Button *ngIf="permissions.canedit" (click)="toggleUpdateMode()" class="mr-2" type="secondary" icon="bx-edit-alt.svg">Sửa</Button>
      <mat-checkbox [(ngModel)]="sectionToggle.metadata" class="mr-2 ml-4">Metadata</mat-checkbox>
      <mat-checkbox [(ngModel)]="sectionToggle.content">Nội dung</mat-checkbox>
      <div class="row">
        <div *ngIf="sectionToggle.metadata" [class.col-md-6]="sectionToggle.content" [class.col-md-12]="!sectionToggle.content">
          <Table [columns]="tableColumns"
            [pagination]="false"
            [dataSource]="dataSource"
            [action]="true"
            class="w-full mt-4">
            <ng-template #actionTemplate let-data="data">
            <a href="javascript: void(0);" class="mr-2" *ngIf="data.editable" (click)="onEditClick(data)">
              <fa-icon [icon]="faEdit" [classes]="['btn-edit']" size="lg"></fa-icon>
            </a>
            </ng-template>
          </Table>
        </div>
        <!-- <p>{{dataSource[12]}}</p> -->
        <div *ngIf="sectionToggle.content" [class.col-md-6]="sectionToggle.metadata" [class.col-md-12]="!sectionToggle.metadata">
          <div class="row">
            <label class="col-2 flex items-center">Hiển thị:</label>
            <div class="col-10">
              <mat-radio-group [(ngModel)]="displayType" (change)="displayChanged()">
                <mat-radio-button *ngIf="document.pages" [value]="ContentDisplayType.ORIGINAL" class="mr-2">Tài liệu gốc</mat-radio-button>
                <mat-radio-button [value]="ContentDisplayType.TEXT" class="mr-2">Văn bản</mat-radio-button>
                <mat-radio-button *ngIf="document.content_html" [value]="ContentDisplayType.HTML">HTML</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="content-image" *ngIf="displayType === ContentDisplayType.ORIGINAL">
            <div class="pdf-wrapper" [class.fullscreen]="isPDFFullscreen" *ngIf="pdfBase64">
              <ngx-extended-pdf-viewer class="pdf-viewer" theme="dark" [base64Src]="pdfBase64" [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
              <div class="pdf-controller p-1">
                <button class="btn-fullscreen" (click)="togglePDFFullscreen()">
                  <span *ngIf="!isPDFFullscreen"><fa-icon [icon]="faExpand"></fa-icon> Phóng to</span>
                  <span *ngIf="isPDFFullscreen"><fa-icon [icon]="faCompress"></fa-icon> Thu nhỏ</span>
                </button>
              </div>
            </div>
            <Pagination *ngIf="!pdfBase64" [desc]="false" [totalItems]="imagePageCount" [page]="1" [size]="1" (pageChanged)="imagePageChanged($event)"></Pagination>
            <img #documentImage class="w-full"/>
          </div>
          <div class="content-html">
            <Pagination *ngIf="displayType === ContentDisplayType.HTML" [desc]="false" [totalItems]="htmlPageCount" [page]="1" [size]="1" (pageChanged)="htmlPageChanged($event)"></Pagination>
            <iframe #contentHtml class="w-full bg-white border-0" [class.hide]="displayType !== ContentDisplayType.HTML"></iframe>
          </div>
          <textarea *ngIf="displayType === ContentDisplayType.TEXT" class="form-control" rows="25" [value]="document.content"></textarea>
        </div>
      </div>

      <div class="downloads mt-4" *ngIf="document.linkdoc">
        <Button
          type="secondary"
          icon="gray/bxs-download.svg"
          *ngFor="let item of document.linkdoc"
          (onClick)="downloadFile(item)"
          class="mr-2"
        >
          {{getFileName(item)}}
          <img class="ml-2" src="assets/icons/gray/bx-file.svg"/>
        </Button>
        <Button
          type="secondary"
          icon="gray/bxs-download.svg"
          *ngFor="let attachment of document.attachments"
          (onClick)="downloadFile(attachment)"
          class="mr-2"
        >
          {{attachment.downname}}
          <img class="ml-2" src="assets/icons/gray/bx-file.svg"/>
        </Button>
      </div>
    </Card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <Card title="Các văn bản liên quan">
      <Table [columns]="relativeColumns"
             [pagination]="false"
             [dataSource]="relativeData"
             (rowClicked)="relateClicked($event)"
             class="w-full"></Table>
    </Card>
  </div>
</div>
<ngx-spinner type="ball-clip-rotate-multiple" name="detail-spinner"></ngx-spinner>
